<h3>Payload details</h3>
<div style="display: table-cell; width: 100vw">
  <div class="formstyle">

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <label style="text-align:left">
        Short Name:
        <input type="text" formControlName="shortName">
        <div *ngIf="submitted && messageForm.controls.shortName.errors" class="error">
          <div *ngIf="messageForm.controls.shortName.errors.required">Short Name is required</div>
        </div>
      </label>

      <label style="text-align:left">
        Frequency:
        <input type="text" formControlName="frequencyBand">
        <div *ngIf="submitted && messageForm.controls.frequencyBand.errors" class="error">
          <div *ngIf="messageForm.controls.frequencyBand.errors.required">Frequency is required</div>
        </div>
      </label>

     <label style="text-align:left">
       Cube Satellite Unit Size:
        <select class="form-control" formControlName="cubesatSize" id="cubesatSize">
          <option *ngFor="let size of cubesatsizes; let i = index" [value]="cubesatsizes[i]">
            {{cubesatsizes[i]}}
          </option>
        </select>
     </label>

     <label style="text-align:left">
       Mass:
       <input type="text" formControlName="mass">
       <div *ngIf="submitted && messageForm.controls.mass.errors" class="error">
         <div *ngIf="messageForm.controls.mass.errors.required">Mass is required</div>
       </div>
     </label>

      <input type="submit" style="width:100%" value="Submit Request" class="form-button">

    </form>
    <div *ngIf="submitted" class="results">
        <p *ngIf="success; else elseBlock">Request submitted</p>
        <ng-template #elseBlock></ng-template>
      </div>
  </div>
</div>
